<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">We provide a variety of web development services tailored to your business needs</h3>
                </div>
            </div>
            <div class="row text-center">
                
                <!-- <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Help launching your online shop with a strategy for business growth</p>
                </div> -->

                <!-- <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Make your web presence accessable across all devices</p>
                </div> -->
             
                
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wordpress fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Wordpress</h4>
                    <p class="text-muted">Customize a WordPress site in line with your business needs</p>
                </div>


                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Custom Code</h4>
                    <p class="text-muted">Architect unique code integrations when needed for your business</p>
                </div>



                <!-- <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data And Analytics</h4>
                    <p class="text-muted">Aggregate valuable business data and have it easy to analyise</p>
                </div> -->


                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-codepen fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">API Integration</h4>
                    <p class="text-muted">
                        Streamline business processes via server to server communications
                    </p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Internationalization</h4>
                    <p class="text-muted">
                            Expanding business reach by offering your web presense in multiple languages
                    </p>
                </div>



                <!-- <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-expeditedssl fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Domain, SSL, Hosting</h4>
                    <p class="text-muted">Make sure your website is properly set up and secure</p>
                </div> -->


                <!-- <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Onsite Code Training</h4>
                    <p class="text-muted">
                        Train your team on new technologies, systems or programming languages
                    </p>
                </div> -->

                <!-- <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Web Security</h4>
                        <p class="text-muted">Minimize your vulnerability to hacking online attacks</p>
                </div> -->

                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-paint-brush fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Website Design</h4>
                        <p class="text-muted">The right design or you buinesss image and brand</p>
                    </div>


                <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">SEO and Site Visibility</h4>
                        <p class="text-muted">
                                Move ahead of the competition by improving the position that your website appears at in search results
                        </p>
                </div>

            </div>
        </div>
    </section>